
$primary:#5265E1;
$secondary: #FA5959;
$light: #dde;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "light": $light
);

$accordion-button-icon:(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$primary}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>"));
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$secondary}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");


@import "../node_modules/bootstrap/scss/bootstrap";

*{
    box-sizing: border-box;
}

#navbarNav{
    margin-left: 170px;
}

.text-justify {
    text-align: center;
}

.parent-ind{
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.cards-row{
    width: 80%;
    justify-content: space-around;
}

.carbut{
border: transparent;
background-color: #fff;
}

.carbut:focus{
  border-bottom: 2px solid rgb(161, 30, 52);  
}

.carbut:hover{
    color: rgb(161, 30, 52);
}

.card{
    max-width: fit-content;
    max-height: fit-content;
}

.hr-card{
    border-top: dotted 2px;
}

.but-exten:hover{
    background-color: white;
    color: #{$primary};
}

.item-accor-1{
    border-top: 1px solid #{$accordion-border-color};
    border-bottom:1px solid #{$accordion-border-color};
}

.accordion-button:hover{
    color: #{$secondary};
    cursor: pointer;
}

.footer-top{
    background-color: #7887e9;
}

.footer-but{
    background-color: rgb(55, 55, 124);
}

footer, footer a, footer li{
    color: white;
    text-decoration: none;
    list-style: none;
}

.footer-list{
    justify-content: space-between;
    font-size: 0.9rem;
}

footer li a:hover{
    color: #{$secondary}
}
.social:hover{
    filter: invert(76%) sepia(71%) saturate(6864%) hue-rotate(331deg) brightness(107%) contrast(96%);
}
 


