
$primary:#5265E1;
$secondary: #FA5959;
$light: #dde;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "light": $light
);


@import "../node_modules/bootstrap/scss/bootstrap";

#navbarNav{
    margin-left: 170px;
}

.text-justify {
    text-align: center;
}

.parent-ind{
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.carbut{
border: transparent;
background-color: #fff;
}

.carbut:focus{
  border-bottom: 2px solid rgb(161, 30, 52);  
}

.carbut:hover{
    color: rgb(161, 30, 52);
}
